@import "mixins/mixins";

$color-danger: #ff423f;
$color-success: #80d049;
$color-warning: #fc9b30;
$color-info: #2f6ae2;
$color-primary: #00e4c2;
$color-normal: #3a3a3a;
$color-light: #545454;
$color-lighter: #939393;
$color-border: #e5e5e5;

$fz-xs: .20rem;
$fz-sm: .24rem;
$fz-normal: .28rem;
$fz-big: .32rem;
$fz-larger: .36rem;
$space-xs: .1rem;
$space-sm: .2rem;
$space-normal: .3rem;
$space-big: .4rem;
$space-larger: .5rem;

* {
  @include box-sizing(border-box);
}

html {
  background-color: #f7f7f7;
  height: 100%;
  font-size: 50px;
}

body {
  font-size: 16px;
  height: 100%;
}

img {
  max-width: 100%;
}

.ul, .ol {
  list-style: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.bg-white {
  background-color: #ffffff !important;
}

.screen-lock {
  overflow: hidden;
}

.m {
  margin: $space-sm !important;
}

.m-tb {
  margin-top: $space-sm !important;
  margin-bottom: $space-sm !important;
}

.m-t {
  margin-top: $space-sm !important;
}

.m-b {
  margin-bottom: $space-sm !important;
}
.dot{
  display: inline-block;
  width: .18rem;
  height: .18rem;
  @include border-radius(50%);
  background-color: $color-lighter;
  &.dot-danger{
    background-color: $color-danger;
  }
  &.dot-success{
    background-color: $color-success;
  }
  &.dot-warning{
    background-color: $color-warning;
  }
}
.text-default{
  color: $color-normal;
}
.text-danger{
  color: $color-danger;
}
.text-success{
  color: $color-success;
}
.text-warning{
  color: $color-warning;
}
.container {
  padding-bottom: 1rem;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.swiper-slide {
  img {
    display: block;
    width: 100%;
  }
}

.swiper-pagination {
  bottom: .2rem !important;
  padding-right: .4rem;
  text-align: right;
  .swiper-pagination-bullet {
    @include opacity(1);
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 .06rem !important;
    &.swiper-pagination-bullet-active {
      background-color: $color-danger;
      border-color: $color-danger;
    }
  }
}

.navbar {
  height: .8rem;
  width: 100%;
  font-size: .34rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ffffff;
  & + .container {
    padding-top: .8rem;
  }
  .left, .right {
    @include flex-shrink(0);
    @include flexbox();
    .link {
      color: $color-normal;
      font-size: $fz-big;
      i {
        font-size: $fz-larger;
      }
    }
  }
}

.navbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 .2rem;
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
}

.index-wrap {
  .slide-disc {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .8rem;
    line-height: .8rem;
    padding: 0 .4rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .3);
    font-size: $fz-normal;
  }
}

.index-menu-wrap {
  @include clearfix();
  padding: $space-normal;
  .menu-item {
    background-color: #ffffff;
    @include border-radius(.2rem);
    text-align: center;
    float: left;
    width: 2.7rem;
    height: 2.5rem;
    margin: .1rem;
    color: $color-light;
    @include box-shadow(0 0 $space-normal rgba(0, 0, 0, 0.1));
    img {
      vertical-align: top;
      margin-top: .4rem;
      width: .9rem;
      height: .9rem;
    }
    span {
      margin-top: $space-normal;
      display: block;
      font-size: $fz-sm;
    }
  }
}

.fixed-nav-bar {
  position: fixed;
  background-color: #ffffff;
  @include box-shadow(0 -3px 5px rgba(0, 0, 0, 0.03));
  &:before {
    border-color: #f7f7f7;
  }
  .weui_tabbar_item {
    position: relative;
    text-align: center;
    color: $color-lighter;
    &.weui_bar_item_on {
      &:before {
        content: '';
        position: absolute;
        left: $space-sm;
        right: $space-sm;
        top: 0;
        height: 2px;
        background-color: $color-danger;
      }
      .weui_tabbar_icon {
        i {
          font-size: .5rem;
          color: $color-danger;
        }
      }
      .weui_tabbar_label {
        color: $color-normal;
      }
    }
  }
  .weui_tabbar_icon {
    line-height: .48rem;
    i {
      font-size: .5rem;
    }
  }
  .weui_tabbar_label {
    margin-top: 0;
    font-size: $fz-xs;
  }
  .center-btn {
    img {
      width: .7rem;
      height: .7rem;
    }
  }
}

.nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  @include opacity(0);
  z-index: -1;
  @include transition(all .2s);
  .closed-btn {
    position: absolute;
    left: 50%;
    bottom: .15rem;
    margin-left: -.35rem;
    width: .7rem;
    img {
      width: .7rem;
      height: .7rem;
      display: block;
    }
  }
}

.nav-list {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  dl {
    position: absolute;
    left: 50%;
    margin-left: -.6rem;
    width: 1.2rem;
    text-align: center;
    @include transition(all .3s);
    @include opacity(0);
    dt {
      margin-bottom: $space-sm;
      a {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        @include border-radius(50%);
        @include box-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
        background-color: #ffffff;
        color: $color-light;
        border: 1px solid $color-border;
        i {
          font-size: .5rem;
        }
        &:active {
          background-color: $color-danger;
          border-color: $color-danger;
          color: #fff;
        }
      }
    }
    dd {
      white-space: nowrap;
      font-size: $fz-sm;
    }
  }
}

.open {
  @include opacity(1);
  z-index: 10;
  .nav-list {
    dl {
      @include opacity(1);
    }
    .nav-item-a {
      @include translate(-1.8rem, -1rem);
    }
    .nav-item-b {
      @include translate(0, -2rem);
    }
    .nav-item-c {
      @include translate(1.8rem, -1rem);
    }
  }
}

.news-frame {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: .78rem;
  background-color: $color-danger;
  overflow: hidden;
  & + .container {
    padding-top: .78rem;
  }
  .slidee {
    height: 100%;
    list-style: none;
    @include clearfix();
    li {
      float: left;
      width: 1.6rem;
      line-height: .44rem;
      text-align: center;
      padding: .2rem .15rem;
      height: 100%;
      &.active {
        a {
          font-size: $fz-normal;
          color: #fff;
        }
      }
      a {
        display: block;
        font-size: $fz-sm;
        color: #ffa9a9;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.news-wrap {
  padding: $space-sm;
}

.news-media {

}

.media-item {
  display: block;
  & + .media-item {
    margin-top: $space-sm;
  }
  .media-link {
    @include flexbox();
    background-color: #ffffff;
    padding: .16rem;
    @include box-shadow(0 0 3px rgba(51, 51, 51, 0.1));
    &:active {
      background-color: #fdfdfd;
    }
    .media-hd {
      width: 2.36rem;
      height: 1.82rem;
      margin-right: $space-sm;
      background: center no-repeat;
      @include background-size(cover);
    }
    .media-bd {
      @include flex(1);
      h3 {
        font-size: .26rem;
        min-height: 1.54rem;
        line-height: .38rem;
        color: $color-normal;
      }
      .media-disc {
        font-size: $fz-xs;
        color: $color-light;
        span {
          & + span {
            margin-left: $space-xs;
          }
        }

      }
    }
  }
}

.detail-wrap {
  padding: $space-normal;
  background-color: #ffffff;
  h1 {
    font-size: .4rem;
    line-height: .5rem;
    font-weight: normal;
    margin-bottom: $space-sm;
  }
  .detail-disc {
    font-size: $fz-xs;
    color: $color-lighter;
    a {
      margin-left: $space-sm;
      color: $color-info;
    }
  }
  .detail-body {
    margin-top: $space-normal;
    font-size: $fz-normal;
    line-height: .5rem;
    p {
      margin: $space-sm 0;
    }
  }
}

.trends-wrap {
  padding: $space-sm;
}

.trends-time {
  text-align: center;
  background-color: #ffffff;
  margin-bottom: $space-sm;
  i {
    position: relative;
    top: -1px;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    line-height: .3rem;
    text-align: center;
    @include border-radius(50%);
    font-size: $fz-sm;
    color: #ffffff;
    background-color: $color-danger;
  }
  span {
    font-size: $fz-sm;
    color: $color-light;
  }
}

.trends-media {
  background-color: #ffffff;
  & + .trends-media {
    margin-top: $space-sm;
  }
  .media-link {
    display: block;
  }
  .trends-body {
    padding: 0 $space-sm;
  }
  h3 {
    padding: $space-normal 0 $space-xs;
    color: $color-normal;
    font-weight: normal;
    font-size: $fz-big;
  }
  p {
    color: $color-light;
    font-size: $fz-sm;
    margin-bottom: $space-xs;
  }
}

.media-img {
  margin-bottom: $space-sm;
  @include flexbox();
  @include flex-wrap(wrap);
  li {
    width: 1.8rem;
    height: 1.8rem;
    background: center no-repeat;
    @include background-size(cover);
    & + li {
      margin-left: $space-xs;
    }
  }
}

.media-footer {
  height: .66rem;
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  padding: $space-xs $space-sm;
  & > span {
    font-size: $fz-xs;
    color: #d0d0d0;
  }
}

.media-control {
  color: #d0d0d0;
  @include flexbox();
  @include align-items(center);
  .control-btn {
    @include flexbox();
    @include align-items(center);
    font-size: $fz-xs;
    color: #d0d0d0;
    i {
      margin-top: -.04rem;
      margin-right: .04rem;
      font-size: $fz-larger;
      line-height: 1;
    }
    &.active {
      color: $color-danger;
    }
    & + .control-btn {
      margin-left: $space-sm;
    }
  }
}

.detail-footer {
  padding: $space-sm 0;
  color: #d0d0d0;
  font-size: $fz-xs;
  @include clearfix();
  span {
    & + span {
      &:before {
        padding: 0 $space-xs;
        content: '·';
      }
    }
  }
}

.comment-wrap {
  margin-top: $space-sm;
  background-color: #ffffff;
}

.comment-panel {
  .weui_panel_hd {
    color: $color-normal;
    font-size: $fz-normal;
  }
  .weui_media_box {
    .weui_media_title {
      color: $color-lighter;
      font-size: $fz-sm;
      span {
        font-size: $fz-xs;
      }
    }
    .weui_media_desc {
      color: $color-normal;
      display: block;
    }
  }
}

.fixed-control {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: .88rem;
  background-color: #fafafa;
  text-align: center;
  @include flexbox();
  @include align-items(center);
  @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
  .control-btn {
    position: relative;
    display: block;
    height: 100%;
    &.active {
      color: $color-danger !important;
    }
    i {
      font-size: .4rem;
      line-height: 1;
    }
  }
  .comment-control {
    @include flexbox();
    @include align-items(center);
    @include flex(1);
    .control-btn {
      @include flex(1);
      color: #d0d0d0;
      sup {
        font-size: $fz-xs;
      }
    }
  }
  .comment-add {
    width: 2.84rem;
    height: .88rem;
    line-height: .88rem;
    .control-btn {
      color: $color-normal;
      font-size: $fz-sm;
      i {
        vertical-align: middle;
      }
    }
  }
}

.heart-icon {
  position: absolute;
  width: 1.2rem;
  top: -$space-normal;
  left: 10%;
  @include scale(0);
  @include opacity(0);
}

#heart-btn {
  .icon-iconlikec {
    display: none;
  }
  &.active {
    .heart-icon {
      @include animation(heart ease-out 1s);
    }
    .icon-iconlike {
      display: none;
    }
    .icon-iconlikec {
      display: inline-block;
    }
  }
}

#store-btn {
  .icon-iconcollectionc {
    display: none;
  }
  &.active {
    .icon-iconcollection {
      display: none;
    }
    .icon-iconcollectionc {
      display: inline-block;
    }
  }
}

@include keyframes(heart) {
  0% {
    top: -$space-normal;
    left: 10%;
    @include scale(0);
    @include opacity(0);
  }
  30% {
    top: -2rem;
    left: 70%;
    @include scale(1);
    @include opacity(1);
  }
  80% {
    top: -2rem;
    left: 70%;
    @include scale(1);
    @include opacity(1);
  }
  100% {
    @include scale(0);
    @include opacity(0);
  }
}

.fixed-comment {
  padding: $space-sm $space-normal;
  @include translate(0, 100%);
  @include transition(transform .2s);
  &.open {
    @include translate(0, 0);
  }
  .comment-input {
    @include flex(1);
    border: 0;
    font-size: $fz-sm;
    -webkit-appearance: none;
    background-color: transparent;
    &:focus {
      outline: 0;
    }
  }
  .comment-submit {
    margin-left: $space-sm;
    width: 1.24rem;
    height: .52rem;
    line-height: .5rem;
    text-align: center;
    @include border-radius(2px);
    -webkit-appearance: none;
    border: 1px solid $color-lighter;
    color: $color-light;
    font-size: $fz-normal;
  }
}

.public-tit-wrap {
  position: relative;
  background-color: $color-danger;
  padding: $space-sm 1rem $space-sm $space-sm;
  .public-tit-input {
    display: block;
    width: 100%;
    padding: .16rem 0;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    font-size: .3rem;
    &::-webkit-input-placeholder {
      color: #ff8989;
    }
    &:-moz-placeholder {
      color: #ff8989;
    }
    &::-moz-placeholder {
      color: #ff8989;
    }
    &:-ms-input-placeholder {
      color: #ff8989;
    }
    &:focus {
      outline: none;
    }
  }
  .iconfont {
    display: none;
    position: absolute;
    top: .33rem;
    right: .3rem;
    width: .34rem;
    height: .34rem;
    line-height: .34rem;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    color: $color-danger;
    font-size: $fz-sm;
    @include border-radius(50%);
  }
}

.public-content-wrap {
  padding: $space-sm;
  .public-content-textarea {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    border: 0;
    background-color: transparent;
    font-size: $fz-sm;
    color: $color-light;
    resize: none;
    &:focus {
      outline: none;
    }
  }
}

.publish-upload {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: $space-sm;
  text-align: right;
  .weui_uploader_hd {
    display: none;
  }
  .weui_uploader_input_wrp {
    display: none;
  }
  .upload-btn {
    font-size: .5rem;
    color: $color-danger;
  }
  .weui_uploader_file {
    position: relative;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
    text-align: center;
    width: 1.92rem;
    height: 1.92rem;
    i.iconfont {
      background-color: rgba(0, 0, 0, 0.6);
      color: #ffffff;
      position: absolute;
      top: 0;
      right: 0;
      width: .28rem;
      height: .28rem;
      line-height: .28rem;
      font-size: $fz-xs;
    }
  }
  .weui_uploader_input_wrp {
    width: 1.92rem;
    height: 1.92rem;
  }
}

.weui_toast_text {
  height: .54rem;
  line-height: .54rem;
  .weui_toast_content {
    margin: 0 .4rem;
    font-size: $fz-sm;
    color: #c3c3c3;
    .iconfont {
      vertical-align: middle;
      color: $color-danger;
      font-size: $fz-larger;
    }
  }
}

.arrow-cell {
  &:after {
    content: " ";
    display: inline-block;
    height: 10px;
    width: 10px;
    border-width: 1px 1px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    transform: rotate(45deg);
    position: relative;
    top: 0;
    margin-left: .3em;
  }
}

.toolbar {
  .picker-button {
    font-size: .32rem;
  }
}

.static-upload {
  position: static;
  .upload-btn {
    position: fixed;
    right: .2rem;
    bottom: .2rem;
  }
}

.navbar-danger {
  background-color: $color-danger;
  .center {
    color: #fff;
  }
  .left, .right {
    .link {
      color: #fff;
    }
  }
}

.sign-panel {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  height: 4.22rem;
  padding-top: .4rem;
  @include box-shadow(0 5px 10px rgba(142, 142, 142, 0.15));
  .sign-panel-header {
    font-size: $fz-normal;
    padding-bottom: .2rem;
  }
  .sign-btn {
    position: relative;
    display: inline-block;
    width: 2.62rem;
    height: 2.62rem;
    text-align: center;
    img {
      width: 2.62rem;
      @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.15));
      @include border-radius(50%);
    }
    dl {
      position: absolute;
      width: 100%;
      font-size: .6rem;
      color: $color-danger;
      line-height: 1;
      padding-top: .5rem;
    }
  }
}

.sign-history {
  background-color: #ffffff;
  margin: 0 $space-sm;
  padding: $space-xs;
  @include border-radius(0 0 5px 5px);
  overflow: hidden;
  @include box-shadow(0 5px 10px rgba(0, 0, 0, .1));

}

.sign-history-header {
  padding: $space-xs $space-sm;
  @include clearfix();
  strong {
    font-weight: normal;
    font-size: $fz-normal;
    color: $color-normal;
  }
  .sign-link {
    margin-top: .06rem;
    float: right;
    font-size: $fz-sm;
    color: $color-lighter;
  }
}

.weui-picker-calendar {
  .toolbar {
    margin-bottom: 0;
  }
}

.sign-calendar {
  .toolbar, .picker-calendar-week-days, .picker-calendar-row {
    &:after {
      display: none;
    }
  }
  .picker-calendar-week-days {
    background-color: transparent;
  }
}

.picker-calendar-day.picker-calendar-day-selected {
  span {
    position: relative;
    overflow: hidden;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-danger;
      content: "\e61d";
      font-family: "iconfont" !important;
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.sign-log-wrap {
  position: relative;
  padding: $space-sm;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: .9rem;
    border-left: 1px solid $color-border;
  }
}

.sign-log-media {
  @include flexbox();
  margin-bottom: $space-sm;
  .sign-log-hd {
    float: left;
    width: .7rem;
    color: $color-light;
    line-height: normal;
    strong {
      display: block;
      font-weight: normal;
      font-size: $fz-normal;
    }
    span {
      font-size: $fz-sm;
    }
  }
  .sign-log-bd {
    @include flex(1);
    position: relative;
    padding-left: $space-sm;
    color: $color-light;
    &:before{
      content: '+';
      position: absolute;
      left: -$space-xs;
      top: $space-xs;
      width: .24rem;
      height: .24rem;
      @include border-radius(50%);
      @include box-shadow(0 1px 5px rgba(51, 51, 51, 0.3));
      line-height: 1;
      text-align: center;
      font-size: $fz-sm;
      background-color: #ffffff;
    }
    .log-time {
      font-size: $fz-sm;
      margin-bottom: $space-xs;
    }
    .log-tag {
      margin-left: $space-xs;
      top: -.04rem;
    }
    .log-location {
      font-size: $fz-normal;
    }
    .log-home {
      font-size: $fz-sm;
      color: $color-lighter;
    }
  }
}

.log-img-list {
  margin-top: $space-xs;
  margin-bottom: $space-xs;
  @include flexbox();
  list-style: none;
  @include flex-wrap(wrap);
  li {
    width: 1.16rem;
    height: 1.16rem;
    background: center no-repeat;
    @include background-size(cover);
    margin:0 $space-xs $space-xs 0;
  }
}

.log-tag {
  position: relative;
  font-size: $fz-sm;
  color: $color-danger;
  padding: .04rem $space-xs;
  vertical-align: middle;
  line-height: 1;
  display: inline-block;
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    @include border-radius(.08rem);
    border: 1px solid $color-danger;
    transform-origin: 0 0;
    transform: scale(0.5);
  }
  &.log-tag-success{
    color: $color-success;
    &:before{
      border-color: $color-success;
    }
  }
}

.statistics-info{
  .weui_cells_title{
    color: $color-normal;
  }
  .dot{
    margin-right: $space-sm;
  }
  .weui_cell_primary{
    font-size: $fz-sm;
  }
  .weui_cell_ft{
    font-size: $fz-sm;
    strong{
      font-weight: normal;
      font-size: $fz-big;
    }
  }
}

.fixed-wrap{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  //@include opacity(0);
  z-index: 600;
  @include transition(all .2s);
}
.sign-detail-wrap{
  display: none;
  padding:1.9rem .4rem 0;
}
.sign-detail{
  @include border-radius(.1rem);
  background-color: #ffffff;
}
.sign-bar{
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  height: .8rem;
  .left, .right {
    @include flex-shrink(0);
    @include flexbox();
    height: 100%;
    line-height:.8rem;
    .link {
      padding:0 $space-sm;
      color: $color-normal;
      font-size: $fz-normal;
      i {
        font-size: $fz-big;
      }
    }
  }
}
.sign-a{
  margin: $space-sm;
  height: 2.8rem;
  background-position: center;
  @include background-size(cover);
}
.sign-b{
  padding:.15rem $space-sm;
  font-size: $fz-sm;
  text-align: center;
  .log-tag {
    margin-left: $space-xs;
    top: -.04rem;
  }
}
.sign-date{
  padding:.10rem $space-sm;
  font-size: $fz-sm;
  i{
    margin-right: $space-xs;
    color: $color-lighter;
    vertical-align: middle;
    font-size: .3rem;
  }
}
.sign-location{
  padding:.10rem $space-sm;
  font-size: $fz-sm;
  i{
    margin-right: $space-xs;
    float: left;
    color: $color-lighter;
    vertical-align: middle;
    font-size: .3rem;
  }
  .sign-location-bd{
    overflow: hidden;
    strong{
      display: block;
    }
    span{
      color: $color-lighter;
    }
  }
}
.sign-map{
  padding:0 $space-sm $space-sm;
  img{
    width: 100%;
  }
}

.enter-wrap{
  .sign-date,.sign-location{
    background-color: #ffffff;
  }
}
.enter-img{
  img{
    vertical-align: top;
  }
}
.sign-map-wrap{
  height: 8rem;
}
.fixed-enter-sign{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 600;
  background-color: #f7f7f7;
  padding:.3rem .8rem;
  .button{
    display: block;
    width: 100%;
    background-color: $color-danger;
    color: #ffffff;
    font-size: $fz-normal;
    text-align: center;
    padding: $space-sm;
    @include border-radius(.42rem);
    @include box-shadow(0 5px 10px rgba(255, 66, 63, 0.32));
  }
}











