@import "mixins/mixins";

$color-danger: #ff423f;
$color-success: #82B64A;
$color-warning: #F9CF4B;
$color-info: #2f6ae2;
$color-primary: #00e4c2;
$color-normal: #3a3a3a;
$color-light: #545454;
$color-lighter: #939393;
$color-border: #e5e5e5;

$fz-xs: .20rem;
$fz-sm: .24rem;
$fz-normal: .28rem;
$fz-big: .32rem;
$fz-larger: .36rem;
$space-xs: .1rem;
$space-sm: .2rem;
$space-normal: .3rem;
$space-big: .4rem;
$space-larger: .5rem;

* {
  @include box-sizing(border-box);
}

html {
  background-color: #f7f7f7;
  height: 100%;
  font-size: 50px;
}

body {
  font-size: 16px;
  min-height: 100%;
}

img {
  max-width: 100%;
}

.ul, .ol {
  list-style: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.bg-white {
  background-color: #ffffff !important;
}
.screen-lock{
  overflow: hidden;
}
.container {
  padding-bottom: 1rem;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.swiper-slide {
  img {
    display: block;
    width: 100%;
  }
}

.swiper-pagination {
  bottom: .2rem !important;
  padding-right: .4rem;
  text-align: right;
  .swiper-pagination-bullet {
    @include opacity(1);
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 .06rem !important;
    &.swiper-pagination-bullet-active {
      background-color: $color-danger;
      border-color: $color-danger;
    }
  }
}

.navbar {
  height: .8rem;
  width: 100%;
  font-size: .34rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ffffff;
  & + .container {
    padding-top: .8rem;
  }
  .left, .right {
    @include flex-shrink(0);
    @include flexbox();
    .link {
      color: $color-normal;
      font-size: $fz-big;
      i {
        font-size: $fz-larger;
      }
    }
  }
}

.navbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 .2rem;
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
}

.index-wrap {
  .slide-disc {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .8rem;
    line-height: .8rem;
    padding: 0 .4rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .3);
    font-size: $fz-normal;
  }
}

.index-menu-wrap {
  @include clearfix();
  padding: $space-normal;
  .menu-item {
    background-color: #ffffff;
    @include border-radius(.2rem);
    text-align: center;
    float: left;
    width: 2.7rem;
    height: 2.5rem;
    margin: .1rem;
    color: $color-light;
    @include box-shadow(0 0 $space-normal rgba(0, 0, 0, 0.1));
    img {
      vertical-align: top;
      margin-top: .4rem;
      width: .9rem;
      height: .9rem;
    }
    span {
      margin-top: $space-normal;
      display: block;
      font-size: $fz-sm;
    }
  }
}

.fixed-nav-bar {
  position: fixed;
  background-color: #ffffff;
  @include box-shadow(0 -3px 5px rgba(0, 0, 0, 0.03));
  &:before {
    border-color: #f7f7f7;
  }
  .weui_tabbar_item {
    position: relative;
    text-align: center;
    color: $color-lighter;
    &.weui_bar_item_on {
      &:before {
        content: '';
        position: absolute;
        left: $space-sm;
        right: $space-sm;
        top: 0;
        height: 2px;
        background-color: $color-danger;
      }
      .weui_tabbar_icon {
        i {
          font-size: .5rem;
          color: $color-danger;
        }
      }
      .weui_tabbar_label {
        color: $color-normal;
      }
    }
  }
  .weui_tabbar_icon {
    line-height: .48rem;
    i {
      font-size: .5rem;
    }
  }
  .weui_tabbar_label {
    margin-top: 0;
    font-size: $fz-xs;
  }
  .center-btn {
    img {
      width: .7rem;
      height: .7rem;
    }
  }
}

.nav-wrap {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  @include opacity(0);
  z-index: -1;
  @include transition(all .2s);
  .closed-btn {
    position: absolute;
    left: 50%;
    bottom: .15rem;
    margin-left: -.35rem;
    width: .7rem;
    img {
      width: .7rem;
      height: .7rem;
      display: block;
    }
  }
}

.nav-list {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  dl {
    position: absolute;
    left: 50%;
    margin-left: -.6rem;
    width: 1.2rem;
    text-align: center;
    @include transition(all .3s);
    @include opacity(0);
    dt {
      margin-bottom: $space-sm;
      a {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        @include border-radius(50%);
        @include box-shadow(0 3px 15px rgba(0, 0, 0, 0.1));
        background-color: #ffffff;
        color: $color-normal;
        border: 1px solid $color-border;
        i {
          font-size: .5rem;
        }
        &:active {
          background-color: $color-danger;
          border-color: $color-danger;
          color: #fff;
        }
      }
    }
    dd {
      white-space: nowrap;
      font-size: $fz-sm;
    }
  }
}

.open {
  @include opacity(1);
  z-index: 10;
  .nav-list {
    dl {
      @include opacity(1);
    }
    .nav-item-a {
      @include translate(-1.8rem, -1rem);
    }
    .nav-item-b {
      @include translate(0, -2rem);
    }
    .nav-item-c {
      @include translate(1.8rem, -1rem);
    }
  }
}

.news-frame {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: .78rem;
  background-color: $color-danger;
  overflow: hidden;
  & + .container {
    padding-top: .78rem;
  }
  .slidee {
    height: 100%;
    list-style: none;
    @include clearfix();
    li {
      float: left;
      width: 1.6rem;
      line-height: .44rem;
      text-align: center;
      padding: .2rem .15rem;
      height: 100%;
      &.active {
        a {
          font-size: $fz-normal;
          color: #fff;
        }
      }
      a {
        display: block;
        font-size: $fz-sm;
        color: #ffa9a9;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.news-wrap {
  padding: $space-sm;
}

.news-media {

}

.media-item {
  display: block;
  & + .media-item {
    margin-top: $space-sm;
  }
  .media-link {
    @include flexbox();
    background-color: #ffffff;
    padding: .16rem;
    @include box-shadow(0 0 3px rgba(51, 51, 51, 0.1));
    &:active {
      background-color: #fdfdfd;
    }
    .media-hd {
      width: 2.36rem;
      height: 1.82rem;
      margin-right: $space-sm;
      background: center no-repeat;
      @include background-size(cover);
    }
    .media-bd {
      @include flex(1);
      h3 {
        font-size: .26rem;
        min-height: 1.54rem;
        line-height: .38rem;
        color: $color-normal;
      }
      .media-disc {
        font-size: $fz-xs;
        color: $color-light;
        span {
          & + span {
            margin-left: $space-xs;
          }
        }

      }
    }
  }
}

.detail-wrap {
  padding: $space-normal;
  background-color: #ffffff;
  h1 {
    font-size: .4rem;
    line-height: .5rem;
    font-weight: normal;
    margin-bottom: $space-sm;
  }
  .detail-disc {
    font-size: $fz-xs;
    color: $color-lighter;
    a {
      margin-left: $space-sm;
      color: $color-info;
    }
  }
  .detail-body {
    margin-top: $space-normal;
    font-size: $fz-normal;
    line-height: .5rem;
    p {
      margin: $space-sm 0;
    }
  }
}

.trends-wrap {
  padding: $space-sm;
}

.trends-time {
  text-align: center;
  background-color: #ffffff;
  margin-bottom: $space-sm;
  i {
    position: relative;
    top: -1px;
    display: inline-block;
    width: .3rem;
    height: .3rem;
    vertical-align: middle;
    line-height: .3rem;
    text-align: center;
    @include border-radius(50%);
    font-size: $fz-sm;
    color: #ffffff;
    background-color: $color-danger;
  }
  span {
    font-size: $fz-sm;
    color: $color-light;
  }
}

.trends-media {
  background-color: #ffffff;
  & + .trends-media {
    margin-top: $space-sm;
  }
  .media-link {
    display: block;
  }
  .trends-body {
    padding: 0 $space-sm;
  }
  h3 {
    padding: $space-normal 0 $space-xs;
    color: $color-normal;
    font-weight: normal;
    font-size: $fz-big;
  }
  p {
    color: $color-light;
    font-size: $fz-sm;
    margin-bottom: $space-xs;
  }
}

.media-img {
  margin-bottom: $space-sm;
  @include flexbox();
  @include justify-content(space-between);
  li {
    width: 1.8rem;
    height: 1.8rem;
    background: center no-repeat;
    @include background-size(cover);
  }
}

.media-footer {
  height: .66rem;
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  padding: $space-xs $space-sm;
  & > span {
    font-size: $fz-xs;
    color: #d0d0d0;
  }
}

.media-control {
  color: #d0d0d0;
  @include flexbox();
  @include align-items(center);
  .control-btn {
    @include flexbox();
    @include align-items(center);
    font-size: $fz-xs;
    color: #d0d0d0;
    i {
      margin-top: -.04rem;
      margin-right: .04rem;
      font-size: $fz-larger;
      line-height: 1;
    }
    &.active {
      color: $color-danger;
    }
    & + .control-btn {
      margin-left: $space-sm;
    }
  }
}

.detail-footer {
  padding: $space-sm 0;
  color: #d0d0d0;
  font-size: $fz-xs;
  @include clearfix();
  span {
    & + span {
      &:before {
        padding: 0 $space-xs;
        content: '·';
      }
    }
  }
}

.comment-wrap {
  margin-top: $space-sm;
  background-color: #ffffff;
}

.comment-panel {
  .weui_panel_hd {
    color: $color-normal;
    font-size: $fz-normal;
  }
  .weui_media_box {
    .weui_media_title {
      color: $color-lighter;
      font-size: $fz-sm;
      span {
        font-size: $fz-xs;
      }
    }
    .weui_media_desc {
      color: $color-normal;
      display: block;
    }
  }
}

.fixed-control {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: .88rem;
  background-color: #fafafa;
  text-align: center;
  @include flexbox();
  @include align-items(center);
  @include box-shadow(0 0 5px rgba(0, 0, 0, .2));
  .control-btn {
    position: relative;
    display: block;
    height: 100%;
    &.active {
      color: $color-danger !important;
    }
    i {
      font-size: .4rem;
      line-height: 1;
    }
  }
  .comment-control {
    @include flexbox();
    @include align-items(center);
    @include flex(1);
    .control-btn {
      @include flex(1);
      color: #d0d0d0;
      sup {
        font-size: $fz-xs;
      }
    }
  }
  .comment-add {
    width: 2.84rem;
    height: .88rem;
    line-height: .88rem;
    .control-btn {
      color: $color-normal;
      font-size: $fz-sm;
      i {
        vertical-align: middle;
      }
    }
  }
}

.heart-icon {
  position: absolute;
  width: 1.2rem;
  top: -$space-normal;
  left: 10%;
  @include scale(0);
  @include opacity(0);
}

#heart-btn {
  .icon-iconlikec {
    display: none;
  }
  &.active {
    .heart-icon {
      @include animation(heart ease-out 1s);
    }
    .icon-iconlike {
      display: none;
    }
    .icon-iconlikec {
      display: inline-block;
    }
  }
}

#store-btn {
  .icon-iconcollectionc {
    display: none;
  }
  &.active {
    .icon-iconcollection {
      display: none;
    }
    .icon-iconcollectionc {
      display: inline-block;
    }
  }
}

@include keyframes(heart) {
  0% {
    top: -$space-normal;
    left: 10%;
    @include scale(0);
    @include opacity(0);
  }
  30% {
    top: -2rem;
    left: 70%;
    @include scale(1);
    @include opacity(1);
  }
  80% {
    top: -2rem;
    left: 70%;
    @include scale(1);
    @include opacity(1);
  }
  100% {
    @include scale(0);
    @include opacity(0);
  }
}

.fixed-comment {
  padding: $space-sm $space-normal;
  @include translate(0,100%);
  @include transition(transform .2s);
  &.open{
    @include translate(0,0);
  }
  .comment-input {
    @include flex(1);
    border: 0;
    font-size: $fz-sm;
    -webkit-appearance: none;
    background-color: transparent;
    &:focus{
      outline: 0;
    }
  }
  .comment-submit {
    margin-left: $space-sm;
    width: 1.24rem;
    height: .52rem;
    line-height:.5rem;
    text-align: center;
    @include border-radius(2px);
    -webkit-appearance: none;
    border: 1px solid $color-lighter;
    color: $color-light;
    font-size: $fz-normal;
  }
}