@import "mixins/mixins";
$color-danger: #ff423f;
$color-success: #82B64A;
$color-warning: #F9CF4B;
$color-info: #3F94C9;
$color-primary: #00e4c2;
$color-normal: #3a3a3a;
$color-light: #545454;
$color-lighter: #939393;
$color-border: #e5e5e5;

$fz-xs: .20rem;
$fz-sm: .24rem;
$fz-normal: .28rem;
$fz-big: .32rem;
$fz-larger: .36rem;
$space-xs: .1rem;
$space-sm: .2rem;
$space-normal: .3rem;
$space-big: .4rem;
$space-larger: .5rem;

* {
  @include box-sizing(border-box);
}
html{
  background-color: #f7f7f7;
}
body{
  font-size:16px;
}
img {
  max-width: 100%;
}
.container{
  padding-bottom:1rem;
}
.swiper-slide{
  img{
    display: block;
    width: 100%;
  }
}
.swiper-pagination{
  bottom: .2rem!important;
  padding-right: .4rem;
  text-align: right;
  .swiper-pagination-bullet{
    @include opacity(1);
    background-color: transparent;
    border: 1px solid #fff;
    margin: 0 .06rem !important;
    &.swiper-pagination-bullet-active{
      background-color: $color-danger;
      border-color: $color-danger;
    }
  }
}
.index-wrap{
  .slide-disc{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: .8rem;
    line-height: .8rem;
    padding: 0 .4rem;
    color: #ffffff;
    background-color: rgba(0,0,0,.3);
    font-size: $fz-normal;
  }
}

.index-menu-wrap{
  @include clearfix();
  padding: $space-normal;
  .menu-item{
    background-color: #ffffff;
    @include border-radius(.2rem);
    text-align: center;
    float: left;
    width: 2.7rem;
    height: 2.5rem;
    margin: .1rem;
    color: $color-light;
    @include box-shadow(0 0 $space-normal rgba(0,0,0,0.1));
    img{
      vertical-align: top;
      margin-top: .4rem;
      width: .9rem;
      height: .9rem;
    }
    span{
      margin-top: $space-normal;
      display: block;
      font-size: $fz-sm;
    }
  }
}

.fixed-nav-bar{
  position: fixed;
  background-color: #ffffff;
  @include box-shadow(0 -3px 5px rgba(0,0,0,0.03));
  &:before{
    border-color: #f7f7f7;
  }
  .weui_tabbar_item{
    position: relative;
    text-align: center;
    color: $color-lighter;
    &.weui_bar_item_on{
      &:before{
        content: '';
        position: absolute;
        left: $space-sm;
        right: $space-sm;
        top: 0;
        height: 2px;
        background-color: $color-danger;
      }
      .weui_tabbar_icon{
        i{
          font-size: .4rem;
          color: $color-danger;
        }
      }
      .weui_tabbar_label{
        color: $color-normal;
      }
    }
  }
  .weui_tabbar_icon{
    line-height: .48rem;
    i{
      font-size: .4rem;
    }
  }
  .weui_tabbar_label{
    margin-top: 0;
    font-size: $fz-xs;
  }
  .center-btn{
    img{
      width: .7rem;
      height: .7rem;
    }
  }
}

.nav-wrap{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255,255,255,.9);
  @include opacity(0);
  z-index: -1;
  @include transition(all .2s);
  .closed-btn{
    position: absolute;
    left: 50%;
    bottom: .15rem;
    margin-left: -.35rem;
    width: .7rem;
    img{
      width: .7rem;
      height: .7rem;
      display: block;
    }
  }
}

.nav-list{
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  dl{
    position: absolute;
    left: 50%;
    margin-left: -.6rem;
    width: 1.2rem;
    text-align: center;
    @include transition(all .3s);
    @include opacity(0);
    dt{
      margin-bottom: $space-sm;
      a{
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
        @include border-radius(50%);
        @include box-shadow(0 3px 15px rgba(0,0,0,0.1));
        background-color: #ffffff;
        color: $color-normal;
        border: 1px solid $color-border;
        i{
          font-size: .5rem;
        }
        &:active{
          background-color: $color-danger;
          border-color: $color-danger;
          color: #fff;
        }
      }
    }
    dd{
      white-space: nowrap;
      font-size: $fz-sm;
    }
  }
}

.open{
  @include opacity(1);
  z-index: 10;
  .nav-list{
    dl{
      @include opacity(1);
    }
    .nav-item-a{
      @include translate(-1.8rem, -1rem);
    }
    .nav-item-b{
      @include translate(0, -2rem);
    }
    .nav-item-c{
      @include translate(1.8rem, -1rem);
    }
  }
}








